*{
  padding: 0;
  margin: 0;
}

.message{
text-align: center;
display: none;
white-space: pre-wrap;
}

.App-header {
  background-color: #040405;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* border: 1px solid white; */

}

.row-div{
  display: flex;
  flex-direction: row;
}

/* G */
.game-board{
  height: 600px;
  width: 600px;
  border: 1px solid #9400FF;
  /* background-color: #0f0; */
  background-color: #001900;
  display: grid;
  grid-template-columns:repeat(20,1fr) ;
  grid-template-rows: repeat(20,1fr);
}

.cell{
  border: 1px dashed #6F06BF;
}

/* .overlay{
  height: 400px;
  width: 400px;
  background-color: blue;
} */


.head{
  border: 1px solid white;
  background-color: #0f0;
}
.snake-segment{
  border: 1px solid white;
  background-color:#950afe;

}

.food{
  /* border-radius: 50%; */
  background-color: #950afe;
  border: 1px solid white;
}

.score-board{
  border: 1px solid #950afe;
  margin-left: 10px;
}
.high-score-text{
  color: red;
  font-weight: bolder;
}
.score-text{
  font-family:'Courier New', Courier, monospace;
}

.score-board-element{
  border: 1px solid #950afe;
  padding: 3px;
}

@media  (min-width:300px) and (max-width:1000px) {
  .game-board{
    display: none;
  }
  .score-board{
    display: none;
  }
  .message{
    display:block;
  }
}